@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Something about our company</p>
<p>
    We began with basics. The things we reach for again and again, to fix our hair, to zhush it up, to get it out of the way, and get on with the day. That was 2010, when we wrote a business plan no longer than a paragraph. Since then, Kitsch has grown, but we’ve stuck to the practice of consistently creating beauty solutions that are elevated in quality and sustainability, supporting our community even as the world continues to change around us. That’s how we went from selling hair ties door-to-door, to selling a full range of beauty favorites in over 20,000 retail locations in 27 countries around the world.
</p>



<p> Female founded and owned, Kitsch is a beauty powerhouse built on positivity and pure hard work. The idea that if you just keep at it, and believe in yourself, you will succeed. From morning till night, life will throw things at us—some good, some difficult. We just want our community to know that whatever happens, they’ll be ready. With easy, fun beauty solutions that are totally reliable and practical, but also truly special, and made as sustainably as possible.</p>


    <p>There are these key moments throughout the day that we call “Kitsch Moments,” where there is an opportunity for a reset, a transition, a simple act of self-care that gives you a little boost, and gets you on to the next thing. It’s these moments we think of any time we create something new. We imagine people with all hair types, budgets and points of view, navigating and negotiating the twists and turns of their lives.</p>


    <p>Our goal is to create a support system that gives you a boost any time you need it, allowing you to treat yourself well and do your best every day–whatever that looks like!</p>

<h2> Headquaters </h2>
 <ul>
     <li>Toronto</li>
     <li>Windsor</li>
 </ul>