@{
    ViewData["Title"] = "Home Page";
    @System.Globalization.CultureInfo.CurrentUICulture
}

<style>
    img {
        height: 227px;
        width: 246px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Tini Hair Ties:)</h1>
    <h3> Make your hair looks more beautiful with us!</h3>

    <img src="~/image/HT1.jpeg" />
    <img src="~/image/HT2.jpeg" />
    <img src="~/image/HT4.jpeg" />
    <img src="~/image/HT3.jpg" />


    <p><strong>How to tie your hair up without damaging it?</strong></p>
    <p>   But if you prefer to tie it up, there are ways to do so without damaging your hair. First, always use a satin or silk pillowcase. This will reduce friction on your hair and prevent it from getting tangled overnight. Second, try a loose braid or bun.</p>
    

</div>



