@{
    ViewData["Title"] = "Home Page";
   @System.Globalization.CultureInfo.CurrentUICulture
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tini Hair Ties:)</h1>
    <h3> Make your hair looks more beautiful with us!</h3>
    <link href="~/image/HT3.jpg" alt="image" />
    <link href="~/image/HT1.jpeg" alt="image" />
    <link href="~/image/HT2.jpeg" alt="image"/>
    <link href="~/image/HT4.jpeg" alt="image" />
</div>


