@{
    ViewData["Title"] = "Home Page";
   @System.Globalization.CultureInfo.CurrentUICulture
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tini Hair Ties:)</h1>
    <h3> Make your hair looks more beautiful with us!</h3>
</div>
